@font-face {
  font-family: '01';
  src: url('fonts/01.ttf') format('truetype');
}
@font-face {
  font-family: '02';
  src: url('fonts/02.ttf') format('truetype');
}

body {
  font-family: '02', 'Helvetica', sans-serif;
  font-size: 2em;
  height: 100%;
  width: 100%;
  word-wrap:break-word;
}

body img {
  width: 100%;
}

header {
  margin-left: 20px;
  font-size: 1.95em;
}

header a {
  text-decoration: none;
  text-decoration-color: black;
  padding-left: 5px;
  padding-right: 5px;
}

body a {
  text-decoration: none;
  text-decoration-color: black;
}

body ::selection {
  background-color: yellow;
}

a {
    font-family: '01', 'Helvetica', 'sans-serif;
    color: black;
}

a:visited {
  color: black;
  background-color: yellow;
}

a:hover {
  color: blue;
  background-color: hotpink;
}

#booking {
  background-color: black;
  color: white;
}

#booking:hover {
  cursor: url(http://icons.iconarchive.com/icons/icons8/halloween/128/ghost-icon.png), auto;
}

.release-images {
  width: 100%;
}

.release-link {
  float: left;
  width: 100%;
}

.appearances-title {
  /* text-align: center; */
  font-size:1.6em;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#fmtrax img {
  width: 50%;
  float: left;
}

#twenty-ongoing-tones img {
  width: 33%;
  float: left;
}

#twenty-ongoing-tones #tot-cover {
  width: 66%;
  float: center;
}


.html-container {
  padding: 20px;
}

.center {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

html, body {
  height: 100vh;
}


.container {
  margin-top: 10px;
}
