@font-face {
  font-family: '01';
  src: url('fonts/01.ttf') format('truetype');
}
@font-face {
  font-family: '02';
  src: url('fonts/02.ttf') format('truetype');
}

h1 {
  font-family: 'Space Mono', monospace;
  font-weight: bold;
  font-size: 200px;
  margin: 0;
}

h2 {
  font-family: 'Space Mono', monospace;
  border: 0;
  margin-bottom: 0;
}


body {
  font-family: '02', 'Helvetica', sans-serif;
  font-size: 55px;
  height: 100%;
  width: 100%;
    cursor: url(http://icons.iconarchive.com/icons/icons8/halloween/128/ghost-icon.png), auto;
}

a {
    color: blue;
}

.container {
  background-size: 120%;
  background-image: url("image.jpg");
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: 50% 50%;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100vh;
  /* overflow-x: hidden; */
  overflow-y: scroll;
  /* z-index: -1; */

}

.html-container {
  transform: translateZ(-1px) scale(2);
  position: relative;
  height: 100vh;


}
