.container {
  z-index: 2;
  position: relative;
}

#myCanvas {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 2100px;
}

h1 {
  font-family: 'Space Mono', monospace;
  font-weight: bold;
  font-size: 145px;
  margin-top: 0;

}

h2 {
  font-family: 'Space Mono', monospace;
  border: 0;
  margin-bottom: 0;
}

body {
  font-family: 'Space Mono', monospace;
  font-size: 55px;
  height: 100%;
  width: 100%;
}

a {
    color: hotpink;
}
