@font-face {
  font-family: '01';
  src: url('fonts/01.ttf') format('truetype');
}
@font-face {
  font-family: '02';
  src: url('fonts/02.ttf') format('truetype');
}
@font-face {
  font-family: '03';
  src: url('fonts/03.ttf') format('truetype');
}
@font-face {
  font-family: '04';
  src: url('fonts/04.ttf') format('truetype');
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
}

.tuuun {
  color: red;
}

.heading {
  font-family: '04', 'Helvetica', sans-serif;
}

body {
  font-family: '03', 'Helvetica', sans-serif;
  font-size: 3em;
  line-height: 1.2em;
  height: 100%;
  width: 100%;
  word-wrap:break-word;
}

body ::selection {
  background-color: yellow;
}

img {
  display:none;
  width: 33%;
  left: 33%;
  position: relative;
}

.description {
  display: none;
}

.title:hover, .expand:hover {
  cursor: pointer;
}

a {
    color: black;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  color: blue;
  /* background-color: hotpink; */
}

a:active {
  color: yellow;
  background-color: yellow;
}

.bluetext {
  color: blue;
}

.redtext {
  color: red;
}
