@font-face {
  font-family: 'NewRailAlphabetMedium';
  src: url('https://github.com/stephenmcevoy/tuuun_site/blob/master/fonts/A2-Type%20New%20Rail%20Alphabet%20Medium.ttf');
}

@font-face {
  font-family: 'NewRailAlphabetBold';
  src: url('https://github.com/stephenmcevoy/tuuun_site/blob/master/fonts/A2-Type%20New%20Rail%20Alphabet%20Bold.ttf');
}

.container {
  z-index: 2;
  position: relative;
}

#myCanvas {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 2100px;
}

h1 {
  font-family: 'NewRailAlphabetBold', "Helvetica", sans-serif;
  font-size: 145px;
  margin-top: 0;

}

h2 {
  font-family: "NewRailAlphabetBold", "Helvetica", sans-serif;
  border: 0;
  margin-bottom: 0;
}

body {
  font-family: 'NewRailAlphabetMedium', "Helvetica", sans-serif;
  font-size: 55px;
  height: 100%;
  width: 100%;
}

a {
    color: hotpink;
}
