html {
    overflow: hidden;
    height: 100%;
    margin-top: 0;
}

body {
    height: 100%;
    overflow: auto;
}

.tuuun {
  color: red;
}

.heading {
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: italic;
}

#top_p {
  margin-top: 0;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 3em;
  line-height: 1.2em;
  height: 100%;
  width: 100%;
  word-wrap:break-word;
}

body ::selection {
  background-color: yellow;
}

img {
  display:none;
  width: 33%;
  left: 33%;
  position: relative;
}

.description {
  display: none;
}

.title:hover, .expand:hover {
  cursor: pointer;
}

a {
    color: black;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  color: blue;
  /* background-color: hotpink; */
}

a:active {
  color: yellow;
  background-color: yellow;
}

.bluetext {
  color: blue;
}

.redtext {
  color: red;
}
