html {
    overflow: hidden;
    height: 100%;
    margin-top: 0;
}

body {
    height: 100%;
    overflow: auto;
    text-align: left;
}

.container {
  width: 45%;
  margin: 0 auto;
}

@media (max-width: 500px) {
    .container {
      width: 90%;
      margin: 0 auto;
    }
}

.tuuun {
  color: blue;
  text-align: right;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 2em;
}

.heading {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  text-align: left;
  margin-bottom: 1.5%;
}

#top_p {
  margin-top: 0;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.75em;
  line-height: 1.2em;
  height: 100%;
  width: 100%;
  word-wrap:break-word;
}

body ::-moz-selection {
  background-color: yellow;
}

body ::selection {
  background-color: yellow;
}

img {
  display:none;
  width: 50%;
  left: 25%;
  position: relative;
}

span .description {
  display: none;
  text-decoration: none;
}

.underline {
  text-decoration: underline;
}

.title:hover, .expand:hover {
  cursor: pointer;
}

a {
    color: black;
}

a:link {
  color: black;
  text-decoration: underline;
}

a:visited {
  color: black;
}

a:hover {
  color: blue;
}

a:active {
  color: yellow;
  background-color: yellow;
}

.bluetext {
  color: blue;
}

.redtext {
  color: red;
}

@-webkit-keyframes shake {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

img {
	-webkit-animation-name: shake;
	-webkit-animation-duration: 0.5s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}
