@font-face {
  font-family: '01';
  src: url('fonts/01.ttf') format('truetype');
}
@font-face {
  font-family: '02';
  src: url('fonts/02.ttf') format('truetype');
}

h1 {
  font-family: 'Space Mono', monospace;
  font-weight: bold;
  font-size: 200px;
  margin: 0;
}

h2 {
  font-family: 'Space Mono', monospace;
  border: 0;
  margin-bottom: 0;
}

body {
  font-family: '02', 'Helvetica', sans-serif;
  font-size: 55px;
  height: 100%;
  width: 100%;
  cursor: url(http://icons.iconarchive.com/icons/icons8/halloween/128/ghost-icon.png), auto;
  animation: back 5s infinite;
}
@-webkit-keyframes back /* Safari and Chrome */ {
    0% {background:#ffffff;}
    50% {background:#c6f4f4;}
    100% {background:#ffffff;}
}

a {
    color: hotpink;
}
