@font-face {
  font-family: 'NewRailAlphabetMedium';
  src: url('A2-Type New Rail Alphabet Medium.ttf');
}

@font-face {
  font-family: 'NewRailAlphabetBold';
  src: url('A2-Type New Rail Alphabet Bold.ttf');
}

.container {
  z-index: 2;
  position: relative;
}

#myCanvas {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 2000px;
}

h1 {
  font-family: 'NewRailAlphabetBold', "Helvetica", sans-serif;
  font-size: 120px;
  margin-top: 0;

}

h2 {
  font-family: "NewRailAlphabetBold", "Helvetica", sans-serif;
  border: 0;
  margin-bottom: 0;
}

body {
  font-family: 'NewRailAlphabetMedium', "Helvetica", sans-serif;
  font-size: 55px;
  height: 100%;
  width: 100%;
}

a {
    color: hotpink;
}
