@font-face {
  font-family: 'NewRailAlphabetMedium';
  src: url('A2-Type New Rail Alphabet Medium.ttf');
}

@font-face {
  font-family: 'NewRailAlphabetBold';
  src: url('A2-Type New Rail Alphabet Bold.ttf');
}

h1 {
  font-family: 'NewRailAlphabetBold', "Helvetica", sans-serif;
  font-size: 120px;
  margin-top: 0;

}

h2 {
  font-family: "NewRailAlphabetBold", "Helvetica", sans-serif;
  border: 0;
  margin-bottom: 0;
}

body {
  font-family: 'NewRailAlphabetMedium', "Helvetica", sans-serif;
  font-size: 55px;
}

a {
    color: hotpink;
}
